* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

img {
	width: 100%;
}

section {
	background: #231052;
}


.bolloons-bg {
	background-image: url("../images/balloons-bg.png");
	position: relative;
	height: 100vh;
}

.jonas {
	padding-left: 300px;
	padding-right: 190px;
}

.james {
	padding-right: 190px;
}

.photo {
	display: flex;
	position: absolute;
	bottom: 50px;
	z-index: 9;
}

.jonastext h4,
.jonastext span {
	color: #48EAEF;
	font-size: 50px;
	padding-top: 24px;
}

.jamesstext h4,
.jamesstext span {
	color: #CDED5C;
	font-size: 50px;
	padding-top: 24px;
}

.juliatext h4,
.juliatext span {
	color: #EF7276;
	font-size: 50px;
	padding-top: 24px;
}

.jonastext,
.jamesstext,
.juliatext {
	text-align: center;
	text-transform: capitalize;
}

.jonascover img,
.jamescover img,
.juliacover img{
object-fit: cover;
}




.balloons-left {
	left: -709px;
	top: -750px;
	z-index: 2;
	animation-name: balloons-left;
	animation-duration: 20s;
	animation-timing-function: linear;
	animation-delay: 2s;
	animation-iteration-count: infinite;
	animation-direction: alternate;
}

@keyframes balloons-left {
	0% {
		top: -750px;
	}
	10% {
		top: -680px;
	}
	20% {
		top: -750px;
	}
	30% {
		top: -680px;
	}
	40% {
		top: -750px;
	}
	50% {
		top: -680px;
	}
	60% {
		top: -750px;
	}
	70% {
		top: -680px;
	}
	80% {
		top: -750px;
	}
	90% {
		top: -680px;
	}
	100% {
		top: -750px;
	}
}

.balloons-right {
	right: -740px;
	top: -711px;
	animation-name: balloons-right;
	animation-duration: 20s;
	animation-timing-function: linear;
	animation-delay: 2s;
	animation-iteration-count: infinite;
	animation-direction: alternate;
}

@keyframes balloons-right {
	0% {
		top: -700px;
	}
	10% {
		top: -600px;
	}
	20% {
		top: -700px;
	}
	30% {
		top: -600px;
	}
	40% {
		top: -700px;
	}
	50% {
		top: -600px;
	}
	60% {
		top: -700px;
	}
	70% {
		top: -600px;
	}
	80% {
		top: -700px;
	}
	90% {
		top: -600px;
	}
	100% {
		top: -700px;
	}
}

.birthday-text {
	top: -90px;
	left: -47px;
}

.bg-fly {
	bottom: -351px;
}

.balloons-left,
.balloons-right,
.birthday-text {
	position: absolute;
}

section {
	overflow: hidden;
}

.juliacover img,
.jonas img {
	height: 350px;
	width: 350px;
	position: relative;
	animation-name: rotateimg;
	animation-duration: 20s;
	animation-timing-function: linear;
	animation-delay: 2s;
	animation-iteration-count: infinite;
	animation-direction: alternate;
}

@keyframes rotateimg {
	0% {
		transform: rotate(-2deg);
		opacity: 2;
	}
	10% {
		transform: rotate(5deg);
		opacity: 2;
	}
	20% {
		transform: rotate(-2deg);
		opacity: 2;
	}
	30% {
		transform: rotate(5deg);
		opacity: 2;
	}
	40% {
		transform: rotate(-2deg);
		opacity: 2;
	}
	50% {
		transform: rotate(5deg);
		opacity: 2;
	}
	60% {
		transform: rotate(-2deg);
		opacity: 2;
	}
	70% {
		transform: rotate(5deg);
		opacity: 2;
	}
	80% {
		transform: rotate(-2deg);
		opacity: 2;
	}
	90% {
		transform: rotate(5deg);
		opacity: 2;
	}
	100% {
		transform: rotate(-2deg);
		opacity: 2;
	}
}

.james img {
	height: 350px;
	width: 350px;
	position: relative;
	animation-name: rotat;
	animation-duration: 20s;
	animation-timing-function: linear;
	animation-delay: 2s;
	animation-iteration-count: infinite;
	animation-direction: alternate;
}

@keyframes rotat {
	0% {
		transform: rotate(-2deg);
		opacity: 2;
	}
	10% {
		transform: rotate(5deg);
		opacity: 2;
	}
	20% {
		transform: rotate(-2deg);
		opacity: 2;
	}
	30% {
		transform: rotate(5deg);
		opacity: 2;
	}
	40% {
		transform: rotate(-2deg);
		opacity: 2;
	}
	50% {
		transform: rotate(5deg);
		opacity: 2;
	}
	60% {
		transform: rotate(-2deg);
		opacity: 2;
	}
	70% {
		transform: rotate(5deg);
		opacity: 2;
	}
	80% {
		transform: rotate(-2deg);
		opacity: 2;
	}
	90% {
		transform: rotate(5deg);
		opacity: 2;
	}
	100% {
		transform: rotate(-2deg);
		opacity: 2;
	}
}

/*.bg-fly img {
	position: relative;
	animation-name: bgfly;
	animation-duration: 20s;
	animation-timing-function: linear;
	animation-delay: 2s;
	animation-iteration-count: infinite;
	animation-direction: alternate;
}

@keyframes bgfly {
	0% {
		bottom: 0px;
	}
	10% {
		bottom: -350px;
	}
	20% {
		bottom: 0px;
	}
	30% {
		bottom: -350px;
	}
	40% {
		bottom: 0px;
	}
	50% {
		bottom: -350px;
	}
	60% {
		bottom: 0px;
	}
	70% {
		bottom: -350px;
	}
	80% {
		bottom: 0px;
	}
	90% {
		bottom: -350px;
	}
	100% {
		bottom: 0px;
	}
}
*/
.jonascover,
.jamescover,
.juliacover{
	position: relative;
}




.jonascover::before{
	position: absolute;
    content: " ";
    width: 95%;
    left: 0px;
    top: 0px;
    height: 95%;
    border: 2px solid #4BE8EF;
	animation-name: rotateimgjocover;
	animation-duration: 20s;
	animation-timing-function: linear;
	animation-delay: 2s;
	animation-iteration-count: infinite;
	animation-direction: alternate;
}

@keyframes rotateimgjocover {
	0% {
		transform: rotate(20deg);
		opacity: 2;
	}
	10% {
		transform: rotate(15deg);
		opacity: 2;
	}
	20% {
		transform: rotate(20deg);
		opacity: 2;
	}
	30% {
		transform: rotate(15deg);
		opacity: 2;
	}
	40% {
		transform: rotate(20deg);
		opacity: 2;
	}
	50% {
		transform: rotate(15deg);
		opacity: 2;
	}
	60% {
		transform: rotate(20deg);
		opacity: 2;
	}
	70% {
		transform: rotate(15deg);
		opacity: 2;
	}
	80% {
		transform: rotate(20deg);
		opacity: 2;
	}
	90% {
		transform: rotate(15deg);
		opacity: 2;
	}
	100% {
		transform: rotate(20deg);
		opacity: 2;
	}
}

.jamescover::before{
	position: absolute;
    content: " ";
    width: 95%;
    left: 20px;
    top: -15px;
    height: 95%;
	border: 2px solid #CDED5C;
	animation-name: rotatjamcover;
	animation-duration: 20s;
	animation-timing-function: linear;
	animation-delay: 2s;
	animation-iteration-count: infinite;
	animation-direction: alternate;
}

@keyframes rotatjamcover {
	0% {
		transform: rotate(-10deg);
	
		opacity: 2;
	}
	10% {
		transform: rotate(5deg);
		opacity: 2;
	}
	20% {
		transform: rotate(-10deg);
		opacity: 2;
	}
	30% {
		transform: rotate(5deg);
		opacity: 2;
	}
	40% {
		transform: rotate(-10deg);
		opacity: 2;
	}
	50% {
		transform: rotate(5deg);
		opacity: 2;
	}
	60% {
		transform: rotate(-10deg);
		opacity: 2;
	}
	70% {
		transform: rotate(5deg);
		opacity: 2;
	}
	80% {
		transform: rotate(-10deg);
		opacity: 2;
	}
	90% {
		transform: rotate(5deg);
		opacity: 2;
	}
	100% {
		transform: rotate(-10deg);
		opacity: 2;
	}
}

.juliacover::before{
	position: absolute;
    content: " ";
    width: 95%;
   left: -8px;
    top: -14px;
    height: 95%;
	border: 2px solid #9D3951;
	animation-name: rotateimgjucover;
	animation-duration: 20s;
	animation-timing-function: linear;
	animation-delay: 2s;
	animation-iteration-count: infinite;
	animation-direction: alternate;
}

@keyframes rotateimgjucover {
	0% {
		transform: rotate(-5deg);
		opacity: 2;
	}
	10% {
		transform: rotate(15deg);
		opacity: 2;
	}
	20% {
		transform: rotate(-5deg);
		opacity: 2;
	}
	30% {
		transform: rotate(15deg);
		opacity: 2;
	}
	40% {
		transform: rotate(-5deg);
		opacity: 2;
	}
	50% {
		transform: rotate(15deg);
		opacity: 2;
	}
	60% {
		transform: rotate(-5deg);
		opacity: 2;
	}
	70% {
		transform: rotate(15deg);
		opacity: 2;
	}
	80% {
		transform: rotate(-5deg);
		opacity: 2;
	}
	90% {
		transform: rotate(15deg);
		opacity: 2;
	}
	100% {
		transform: rotate(-5deg);
		opacity: 2;
	}
}







@media onkly screen and (min-width: 1920px) {
	.bolloons-bg {
		background-image: url("../images/balloons-bg.png");
		position: relative;
		height: 100%;
	}
	/*.balloons-left {
    left: -709px;
    top: -787px;
    z-index: 2;
}
.balloons-right {
    right: -740px;
    top: -711px;
    z-index: 2;
}
.birthday-text{
top: 0px;
}

.balloons-left,
.balloons-right,
.birthday-text{
position: absolute;
}
section{
	overflow: hidden;
}*/
}